Platform/**
!Platform/Linux
!Platform/Linux/**
!Platform/Windows
!Platform/Windows/**
Platform/Windows/Servers
Platform/Windows/SteamCMD/**
!Platform/Windows/SteamCMD/steamcmd.zip

Keys
Source/Maps
Source/Test
Setup/6. Maps
Client/**
!Client/L4D2.bat
!Client/Workshop
!Client/Workshop/**
!Client/Configs
!Client/Configs/**
!Client/Configs/custom
!Client/Configs/custom/**
Client/Configs/custom/private.cfg