SteamCMD/*
!SteamCMD/steamcmd.zip
!SteamCMD/steamcmd.exe

Servers
Keys
Windows/*

Source/**
!Source/Mods/
!Source/Mods/SourceMod/
!Source/Mods/SourceMod/Windows
!Source/Mods/SourceMod/Windows/**
Source/Mods/SourceMod/Windows/sourcemod-1.12.0-git7219-windows.zip