Platform/**
!Platform/Linux
!Platform/Linux/**
!Platform/Windows
!Platform/Windows/**
Platform/Windows/Servers
Platform/Windows/SteamCMD/**
!Platform/Windows/SteamCMD/steamcmd.zip

Keys
Source/Maps
Source/Test
Setup/6. Maps
Client/**
!Client/L4D2.bat
!Client/Workshop
!Client/Workshop/**
!Client/Soft
!Client/Soft/**
Client/Soft/SCMD Workshop Downloader 2
Client/Soft/Source Admin Tool (HLSW Alternative)/**
!Client/Soft/Source Admin Tool (HLSW Alternative)/SAT-win-c79998d.zip
!Client/Configs
!Client/Configs/**
!Client/Configs/custom
!Client/Configs/custom/**
Client/Configs/custom/private.cfg

Source/Mods/SourceMod/Windows/Stable 1.11